#genres-index-wrapper {
    padding: 30px 0;

    h1 {
        text-align: center;
        padding: 20px;
        font-weight: 700;
    }

    table {
        width: 70%;
        margin: auto;

        thead {

            .genre {
                width: 80%;
            }

            .actions {
                width: 20%;
            }
        }
        
        tbody {
            background-color: #fff;
        
            .fa-edit {
                margin-right: 10px;
            }
        
            .fa-trash-alt {
                color: rgb(190, 23, 23);
            }
        }
    }
}